.singletab {
  width: 240px;
  margin-top: 30px;
  margin-left: 13px;
}
.tabname{
  margin-left:10px;
  font-size: 15px;
  font-weight: 400;
  color:rgb(68,74,87);
  cursor: pointer;
}

.tab{
  padding-bottom: 15px;
}

