@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@400;700&display=swap');
:root{
    --background-color: #ffffff;
    --primary-color: #5F6368;
    --secondary-color: #1A73E8 ;
    --border-color:#e6e7ea;
    --font-family:'Noto Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.container{
    background-color: var(--background-color);
}
.card{
    margin: auto auto;
    min-height: 700px;
    max-height: 800px;
    width: 500px;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content{
    width: 100%;
    min-height: 550px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 3px 1px var(--border-color);
    border-radius: 5px;
    border: none;
    padding: 3rem 1.25rem;
    border: 1px solid rgb(216, 216, 216) ;
}
.logo{
    width: 100;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: var(--font-family);
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1.2rem;
}
.desc{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}
.form{
    width: 100%;
    margin-top: 2.5rem;
    padding: 1rem;
}

.input{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.25rem;
    border: 1px solid var(--border-color);
    outline: none;
    /* z-index: 100; */
    border-radius: 5px; 
    background:none;
    transition:0.2s ease;

}
.inputLabel{
    position:relative;
    display: block;
    width: 200px; 
    top:-42px;   
    left:20px;
    background-color: var(--background-color);
}

.inputLabel::before{
    content: 'Email or phone';
    position: absolute;
    color: var(--primary-color);
    font-family: var(--font-family);
    background-color: var(--background-color);
    transition:0.2s ease;
}

.input:focus ~ .inputLabel::before{
    color: var(--secondary-color);
    font-size: 13px;
    top: -28px;
    z-index: 1;
}
.input:focus{
    border: 1px solid var(--secondary-color);

}
.input:not(:focus):not(:placeholder-shown) ~ .inputLabel::before{
    color: var(--secondary-color);
    font-size: 13px;
    top: -24px;
    z-index: 1;
}
.input:not(:focus):not(:placeholder-shown){
    border: 1px solid var(--secondary-color);
}
.forgotten,.createAcc,.learn{
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.90rem;
    font-weight: 600;
    color: var(--secondary-color);
    display: inline-block;
    margin-top: 0.25rem;
}
.disclaimer{
    font-family: var(--font-family);
    font-size: 0.95rem;
    color: var(--primary-color);
    margin-top: 3rem;
}
.createAcc{
    font-size: 1rem;
    font-weight: 400;
}
.btn-container{
    margin-top: 3rem;
    justify-content: space-between;
}
.next-btn{
    width: 90px;
    padding: 0.60em;
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--background-color);
    font-weight: 500;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius:5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.next-btn:hover{
    background-color:rgb(26,85,245);
}
