.message-top-total
{
    background-color: white;
    margin: 10px 10px 0 2px;
    border-radius: 15px;
    padding: 8px 0 0 15px;
    
}
.checkbox input
{
    height: 15px;
    width: 15px;
}

.left-side{
    justify-content: center;
    align-items: center;
}
.right-side
{
    margin-left: 64%;
    justify-content: center;
    align-items: center;
}
.reload-btn
{
    padding-left: 19px;
}
.three-dot
{
    padding-left: 19px;

}
.pagination{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(103,103,103);
}
.left-aarow
{
    margin-left: 20px;
}
.right-aarow
{
    margin-left: 20px;
}
.keyboard
{
    margin-left: 20px;


}