.message-top-total
{
    background-color: white;
    margin: 10px 10px 0 20px;
    border-radius: 15px;
    padding: 8px 0 0 22px;
    
}
.checkbox input
{
    height: 15px;
    width: 15px;
}

.left-side{
    justify-content: center;
    align-items: center;
}
.right-side
{
    margin-left: 64%;
    justify-content: center;
    align-items: center;
}
.reload-btn
{
    padding-left: 19px;
}
.three-dot
{
    padding-left: 19px;

}
